page-home {
  .rowHeight
  {
    height: auto;
    background-color: #0e6734;
    color:#ffffff;
    text-align: justify;
    padding-right: 16px;
    padding-left: 16px;
    padding-bottom: 5px;


  }

  img
  {
    margin: auto;
    width: 150px;
    height: 200px;
  }

  strong
  {
    font-size: 25px;
  }

}
