.menuBg
{
  background-color: #011a0d;
  color: #ededed;
  font-weight: 100;

}

.menuBg img
{
  width: 60px;
  height: 60px;
  margin: auto;
}

.menuBg ion-avatar
{
  margin-top: 30px;
  margin-right: 5px;
  margin-bottom: 20px;
  float: right;
}

.member-profile
{
  margin-top: 20px;
}
